* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin-top: 150px;
}

/* Style the header */
.header {
  padding: 10px;
  text-align: center;
  background: #008a40;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 200px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.ProfilePic {
  position: relative;
  height: 250;
  width: 250px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  border-radius: 15px;
}
